body {
	background-color: #F3D9DD;
	margin: 0px;
	font-family: Quicksand;
	font-size: 17px;
	color: #FFFFFF
}

header {
	background-color: #B47F87;
	margin: 10px;
	height: 48px;
	border-radius: 5px;
	min-width:480px;
	text-align: center;
	font-size: 35px;
}

nav {
	background-color: #B47F87;
	margin: 10px;
	height: 65px;
	border-radius: 5px;
	text-align: center;
}

.image {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 5px;
	float: left;
	width: 275px;
}

main {
	background-color: #d6929c;
	margin-left: 340px;
	margin-right: 340px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 20px;
	font-size: 110%;
	float: center;
	clear: center;
}


aside {
	background-color: #d6929c;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 20px;
	font-size: 105%;
	float: right;
	width: 277px;
	clear:right;
}



footer {
	background-color: #d6929c;
	margin: 10px;
	height: 60px;
	clear: both;
	border-radius: 5px;
	text-align: center;
	}
	